<div class="container">
	<form action="uganda_quiz/uganda_quiz_report" method="POST">

		{{#chad_quiz}}
		<div class="col-lg-12 quiz">
			<div class="col-lg-12 question">
				{{question}}
			</div>
			<div class="answers">
				<div class="funkyradio">
			        <div class="funkyradio-default col-lg-12">
			        	{{#each answer}}
			            <input type="checkbox" name="checkbox" id="checkbox1" value="{{this}}" unchecked/>
			            <label for="checkbox1">{{this}}</label>
			            {{/each}}
			        </div>
				</div>
			</div>
		</div>
			{{/chad_quiz}}


		<div>
			<input type="submit" value="Save">
		</div>
	</form>
</div>