<div class="container">
	<form action="ethiopia_quiz/ethiopia_quiz_report" method="POST">
			{{#ethiopia_quiz}}

		<div class="col-lg-12 quiz">
			<div class="col-lg-12 question">
				{{question}}
			</div>
			<div class="answers">
				<div class="funkyradio">
			        <div class="funkyradio-default col-lg-12">
			        	{{#each options}}
			            <input type="checkbox" name="answer" id="checkbox1" value="{{this}}" unchecked/>
			            <label for="checkbox1">{{this}}</label>
			            {{/each}}
			        </div>
				</div>
			</div>
		</div>

			{{/ethiopia_quiz}}

		<div>
			<input type="submit" value="Save">
		</div>

	</form>
</div>