<div class="col-xs-2"></div>
<div class="container col-xs-8">
	<div class="container">
		<a class="btn btn-primary col-xs-8" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
		  Uganda
		</a>
		<div class="collapse col-xs-8" style="clear:both" id="collapseExample">
		  <div class="well">
		   The ruling political party is National Resistance Movement. Uganda's longest river is Nile River, Uganda export a variety of goods they export but I will mention just 3 which are Coffee,Tea, and Cotton.They got their independence on the 09th of October 1962. They have a population of 35 million. They have 111 districts. <a href="/uganda_quiz">Take the AfroQuizz</a>
		  </div>
		</div>
	</div>

	<div class="container">
		<a class="btn btn-primary col-xs-8" data-toggle="collapse" href="#collapseChad" aria-expanded="false" aria-controls="collapseChad">
		  Chad
		</a>
		<div class="collapse col-xs-8" style="clear:both" id="collapseChad">
		  <div class="well">
				
		   Chad flag has three colours red, blue and yellow. Chad's capital town is N'Djamena. They have two official languages which are French and Arabic. Chad is divided into 22 regions. 80% of Chad's population is poor. <a href="/chad_quiz">Take the AfroQuizz</a>
		  </div>
		</div>
	</div>

	<div class="container">
		<a class="btn btn-primary col-xs-8" data-toggle="collapse" href="#collapseSenegal" aria-expanded="false" aria-controls="collapseChad">
		  Senegal
		</a>
		<div class="collapse col-xs-8" style="clear:both" id="collapseSenegal">
		  <div class="well">
		    The countries name comes from Senegal river. It's capital town is Dakar. Senegal shares its borders few countries like Mali, Gambia, and Guinea. It's has quite a number of large cities, Dakar, Grand Dakar and Pikine. The last population count which was done in 2012 was 13.6 million Their currency is CFA franc (XOF). They speak variety of languages like French, Wolof, Sonika. <a href="/senegal_quiz">Take the AfroQuizz</a>
		  </div>
		</div>
	</div>

	<div class="container">
		<a class="btn btn-primary col-xs-8" data-toggle="collapse" href="#collapseEthiopia" aria-expanded="false" aria-controls="collapseChad">
		  Ethiopia
		</a>
		<div class="collapse col-xs-8" style="clear:both" id="collapseEthiopia">
		  <div class="well">
		   Ethiopia's life expectancy is 42 years. Their national dish is wat. Their are using a different calender from everyone else, their calender has 13 months. Their national dish is Wat. Their currency is Birr. 1995 they adopted a constitution replacing Shengo. The country has two self governing authorities which are Capital Addis Ababa and Dire Dawa. <a href="/ethiopia_quiz">Take the AfroQuizz</a>
		  </div>
		</div>
	</div>

	<div class="container">
		<a class="btn btn-primary col-xs-8" data-toggle="collapse" href="#collapseNigeria" aria-expanded="false" aria-controls="collapseChad">
		  Nigeria
		</a>
		<div class="collapse col-xs-8" style="clear:both" id="collapseNigeria">
		  <div class="well">
		    Nigeria is located in West Africa and shares land borders with the Republic of Benin in the west, Chad and Cameroon in the east. The ruling political party is People's Democratic Party, the President is Goodluck Jonathan. Nigeria's currency is Nigerian Naira. Their national anthem is called Arise,O Compatriots. Their national football team's nickname is Super Eagles. <a href="/nigeria_quiz">Take the AfroQuizz</a>
		  </div>
		</div>
	</div>
</div>
