<div class="container col-lg-12">
		{{#nigeria_quiz}}
	<div class="col-lg-12">
		<div class="col-lg-12">{{question}}</div>
		<div class="row col-lg-12">
			<div class="funkyradio row">
		        <div class="funkyradio-default col-lg-3">
		        	{{#each answer}}
		            <input type="checkbox" name="checkbox" id="checkbox1" value="{{this}}" unchecked/>
		            <label for="checkbox1">{{this}}</label>
		            {{/each}}
		        </div>
			</div>
		</div>
	</div>
		{{/nigeria_quiz}}
</div>