<div class="container">
	<form action="uganda_quiz/uganda_quiz_report" method="POST">
			{{#uganda_quiz}}

		<div class="col-lg-12 quiz" name="{{question}}">
			<div class="col-lg-12 question">
				{{question}}
			</div>
			<div class="answers">
				<div class="funkyradio">
			        <div class="funkyradio-default col-lg-12">
			        	{{#each options}}
			            <input type="checkbox" name="answer_{{this.id}}" id="checkbox1"/>
			            <label for="checkbox1">{{this.name}}</label>
			            {{/each}}
			        </div>
				</div>
			</div>
		</div>

			{{/uganda_quiz}}
		<div>
			<input type="submit" value="How did I do?">
		</div>

	</form>
</div>