<div class="container">
<div class="col-xs-12">
		<p>Lorem ipsum dolor sit amet?</p>
		<div class="row col-xs-10">
			<div class="funkyradio row">
		        <div class="funkyradio-default col-xs-3">
		            <input type="checkbox" name="checkbox" id="checkbox1" checked/>
		            <label for="checkbox1">First</label>
		        </div>
		        <div class="funkyradio-primary col-xs-3">
		            <input type="checkbox" name="checkbox" id="checkbox2" checked/>
		            <label for="checkbox2">Second</label>
		        </div>
		        <div class="funkyradio-success col-xs-3">
		            <input type="checkbox" name="checkbox" id="checkbox3" checked/>
		            <label for="checkbox3">Third</label>
		        </div>
		        <div class="funkyradio-danger col-xs-3">
		            <input type="checkbox" name="checkbox" id="checkbox4" checked/>
		            <label for="checkbox4">Fourth</label>
		        </div>
			</div>
		</div>
	</div>

<div class="col-xs-12">
		<p>Lorem ipsum dolor sit amet?</p>
		<div class="row col-xs-10">
			<div class="funkyradio row">
		        <div class="funkyradio-default col-xs-3">
		            <input type="checkbox" name="checkbox" id="checkbox1" checked/>
		            <label for="checkbox1">First</label>
		        </div>
		        <div class="funkyradio-primary col-xs-3">
		            <input type="checkbox" name="checkbox" id="checkbox2" checked/>
		            <label for="checkbox2">Second</label>
		        </div>
		        <div class="funkyradio-success col-xs-3">
		            <input type="checkbox" name="checkbox" id="checkbox3" checked/>
		            <label for="checkbox3">Third</label>
		        </div>
		        <div class="funkyradio-danger col-xs-3">
		            <input type="checkbox" name="checkbox" id="checkbox4" checked/>
		            <label for="checkbox4">Fourth</label>
		        </div>
			</div>
		</div>
	</div>

<div class="col-xs-12">
		<p>Lorem ipsum dolor sit amet?</p>
		<div class="row col-xs-10">
			<div class="funkyradio row">
		        <div class="funkyradio-default col-xs-3">
		            <input type="checkbox" name="checkbox" id="checkbox1" checked/>
		            <label for="checkbox1">First</label>
		        </div>
		        <div class="funkyradio-primary col-xs-3">
		            <input type="checkbox" name="checkbox" id="checkbox2" checked/>
		            <label for="checkbox2">Second</label>
		        </div>
		        <div class="funkyradio-success col-xs-3">
		            <input type="checkbox" name="checkbox" id="checkbox3" checked/>
		            <label for="checkbox3">Third</label>
		        </div>
		        <div class="funkyradio-danger col-xs-3">
		            <input type="checkbox" name="checkbox" id="checkbox4" checked/>
		            <label for="checkbox4">Fourth</label>
		        </div>
			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<p>Lorem ipsum dolor sit amet?</p>
		<div class="row col-xs-10">
			<div class="funkyradio row">
		        <div class="funkyradio-default col-xs-3">
		            <input type="checkbox" name="checkbox" id="checkbox1" checked/>
		            <label for="checkbox1">First</label>
		        </div>
		        <div class="funkyradio-primary col-xs-3">
		            <input type="checkbox" name="checkbox" id="checkbox2" checked/>
		            <label for="checkbox2">Second</label>
		        </div>
		        <div class="funkyradio-success col-xs-3">
		            <input type="checkbox" name="checkbox" id="checkbox3" checked/>
		            <label for="checkbox3">Third</label>
		        </div>
		        <div class="funkyradio-danger col-xs-3">
		            <input type="checkbox" name="checkbox" id="checkbox4" checked/>
		            <label for="checkbox4">Fourth</label>
		        </div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<p>Lorem ipsum dolor sit amet?</p>
		<div class="row col-xs-10">
			<div class="funkyradio row">
		        <div class="funkyradio-default col-xs-3">
		            <input type="checkbox" name="checkbox" id="checkbox1" checked/>
		            <label for="checkbox1">First</label>
		        </div>
		        <div class="funkyradio-primary col-xs-3">
		            <input type="checkbox" name="checkbox" id="checkbox2" checked/>
		            <label for="checkbox2">Second</label>
		        </div>
		        <div class="funkyradio-success col-xs-3">
		            <input type="checkbox" name="checkbox" id="checkbox3" checked/>
		            <label for="checkbox3">Third</label>
		        </div>
		        <div class="funkyradio-danger col-xs-3">
		            <input type="checkbox" name="checkbox" id="checkbox4" checked/>
		            <label for="checkbox4">Fourth</label>
		        </div>
			</div>
		</div>
	</div>
</div>